.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border);
    margin: 10px 0;
    padding: 15px 10px;
    background: var(--gray);
    @media (max-width: 800px) {
        display: block;
        text-align: center;
    }
}

.contacts{
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
        display: none;
    }

    nav {
        ul { 
            display: flex;
                li {
                margin: 0 20px;
            }
            a {
                color: #3d3d3d;
                font-weight: 300;
                text-align: center;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}