.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border);
    margin-top: 10px;
    padding: 15px 10px;
    background: var(--gray);

    position: relative;

    z-index: 2;

    nav {
        ul {
            
            display: flex;
            li {
                margin-left: 20px;
            }
            a {
                color: var(--link);
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 800px) {
        display: block;
        text-align: center;
        nav {
            display: none;
        }
    }
    .arrow {
        display: none;
        @media (max-width: 800px) {
            display: block;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}
#padding {
    display: none;
    background: var(--gray);
    border: 1px solid var(--border);
    border-radius: 0 0 5px 5px;
    border-radius: 5px;

    padding: 10px;
    li {
        margin-bottom: 10px;
    }
    a {
        color: var(--link);
    }
    a:hover {
        text-decoration: underline;
    }

    animation-name: moveBottom;
    animation-duration: .5s;
    animation-play-state: running;
    animation-fill-mode: none;

}
@keyframes moveBottom {
    0% {
        transform: translateY(-40px);
        background: var(--background);
    }
    100% {
        transform: translateY(0);
        background: var(--gray);
    }
}