.projects {
    
    padding: 20px 0;

    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    ul {
        li {
            padding-left: 20px;
            margin-top: 5px;

            background: var(--gray);
            border: 1px solid var(--border);
            padding: 30px;
            border-radius: 5px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 600px) {
                display: block;
            }

            h3 {
                font-size: 18px;
                font-weight: 300;
                a {text-decoration: underline;}
            }
            p {
                font-size: 16px;
                font-weight: 200;
                margin-top: 10px;
            }
            .project-button {
                background: var(--color-secondary);
                padding: 5px;
                border-radius: 5px;

                display: inline-flex;
                align-items: center;
                gap: 5px;

                @media (max-width: 600px) {
                    margin-top: 30px
                }
            }
        }
    }
}