@import url(variables.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Geist Mono", monospace;
    /* font-family: "Geist", sans-serif; */
}
a {
    color: var(--foreground);
    text-decoration: dashed;
}
li::marker {
    content: '';
}
.container {
    max-width: 1000px;
    margin: auto;
}
.container-header {
    max-width: 1050px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border);
    margin: 10px 0;
    padding: 15px 10px;
    background: var(--gray);

    .contacts{
        display: flex;
        align-items: center;

        nav {
            ul { 
                display: flex;
                li {
                    margin: 0 20px;
                }
                a {
                    color: #3d3d3d;
                    font-weight: 300;
                    text-align: center;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.main-content {
    display: flex;
    text-align: center;
    padding-top: 40px;
}
.photo {
    max-width: 200px;
    object-fit: cover;
}
.info-section {
    border: 1px solid var(--border);
    display: inline-block;
    padding: 10px 20px;
    background: var(--gray);
}